[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rsa = "*"
pycryptodome = "*"
sanic = "*"
aiomysql = "*"
aiohttp = "*"

[scripts]
server = "python server/server.py"

[dev-packages]
pytest = "*"
pytest-sanic = "*"
sanic-testing = "*"

[requires]
python_version = "3.7"
